.container {
    display: flex;
    justify-content: center;
    height: 100vh;
  }
  
  .main-div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f5f5f5;
  }
  
  .add-question-btn {
    width: 100%;
  }
  
  .center-container {
    margin: 20px;
    display: flex;
    justify-content: center;
  }
  
  .example-section {
    display: flex;
    align-content: center;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .example-margin {
    margin: 20px;
  }
  
  .field {
    width: 100%;
  }
  
  .button-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .btn {
    width: 100% !important;
    background-color: #3f3c99 !important;
    color: white !important;
  }
  
  .test {
    width: 100% !important;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  .scrollable {
    overflow-y: scroll;
    height: 125px;
  }

  .criteria-headline{
    font-weight: bold;
    text-align: center;
    color: #3f3c99;
  }
  

  .control-buttons{
    display: flex;
    flex-direction:row ;
    justify-content: center;
    padding-top: 20px;
  }

  .btn-ctrl{
    margin: 20px;
    width:30%
  }