.example-spacer {
    flex: 1 1 auto;
}
.headline{
    font-size: 20px;
    font-weight: bold;
    color: #673AB7;
    margin: 0;
    padding: 0;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 1.5;
}
mat-toolbar{
    background-color: #FDE5EC;
}