.headline{
    font-size: 20px;
    font-weight: bold;
    color: #673AB7;
    margin: 0;
    padding: 0;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 1.5;
}
.line{
    width: 100%;
    height: 1px;
    background-color: #673AB7;
    margin: 20px 0;
    margin-bottom: 20px;
}
.decisions{
    width: 90%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Three columns of equal width */
    grid-template-rows: repeat(5, minmax(auto, max-content));
    gap: 10px;
    padding: 20px;
    overflow-y: auto;
    position: relative;
}
p{
    font-size: 16px;
    color: #673AB7;
    margin-top: 50px;
    padding: 0;
    text-align: center;
    line-height: 1.5;
}
.searchArea{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}
.field{
    width: 80%;
    // height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    //border: 1px solid #673AB7;
   // border-radius: 5px;

}