.container {
    display: flex;
    justify-content: center;
    height: 100vh;
  }
  
  .main-div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 40%;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f5f5f5;
  }
  
  .field {
    width: 100%;
  }
  
  .button-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .btn {
    width: 35%;
    // background-color: #3f3c99 !important;
    color: white !important;
  }
  .btn-guest{
    width: 100%;
    // background-color: #3f3c99 !important;
    color: white !important;
    margin-top: 20px;
  }
  