<mat-card class="example-card">
  <mat-card-header class="mat-card-header">
    <mat-card-title class="mat-card-title">{{decision?.name}}</mat-card-title>
    <mat-card-subtitle class="mat-card-subtitle">{{decision?.owner!.name+" "+decision?.owner?.surname+"
      ("+decision?.owner?.email+")"}}</mat-card-subtitle>
       <button mat-button (click)="deletePost()" [disabled]="!isMine" style="float: right" *ngIf="isMine">
        <mat-icon>delete</mat-icon>
      </button>
  </mat-card-header>
  <mat-card-actions>
    <div *ngIf="!isMine">
      <p>owner's supports:{{supportNumber}}</p>
      <button mat-button (click)="support()" [disabled]="!supportEnabled">
        <mat-icon>thumb_up</mat-icon>
      </button>
      <button mat-button (click)="unSupport()" [disabled]="supportEnabled">
        <mat-icon>thumb_down</mat-icon>
        <!-- <span>{{decision?.oppose_number}}</span> -->
      </button>
    </div>
  </mat-card-actions>
  <mat-card-content class="mat-card-content">
    <p>
      {{decision?.description}}
    </p>
    <p>
      {{decision?.date}}
    <p>
      {{criteriaString}}
    </p>
    <p>
      {{alternativesString}}
    </p>

  </mat-card-content>

</mat-card>